@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base{
    body{
      @apply font-primary bg-primary text-white leading-loose;
    }
    .h1{
      @apply text-[48px] xl:text-[60px] leading-[1.1] font-semibold;
    }

    .h2{
      @apply text-[36px] xl:text-[43px] leading-[1.1] font-semibold;
    }

    .h3{
      @apply text-[20px] xl:text-[19px] leading-[1.1] font-semibold;
    }
    
    .text-outline {
      -webkit-text-stroke: 1px #FFF;
    }
  
    .text-outline-hover {
      -webkit-text-stroke: 1px #0F9;
    }

    .text-sobre-me{
      font-size: 1.1rem;
      line-height: 1.30rem;
    }
  }
  